<div class="row">
  <div class="col-lg-10">
    <h1>New Product</h1>
    <%= render 'form', product: @product %>
    <%= link_to 'Back', products_path, class: 'btn btn-default', style: 'margin-top: 15px' %>
  </div>
</div>
