<div class="row">
  <div class="col-lg-10">
    <h1>Home</h1>
    <img class="img-responsive" src="https://picsum.photos/1170/300" alt="Image">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius numquam dicta, nam odit, tenetur beatae minus facilis vitae dolor! Sed cupiditate ipsa, quas tempora natus itaque illo architecto aliquam hic.</p>
    <h3>Home title</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius numquam dicta, nam odit, tenetur beatae minus facilis vitae dolor! Sed cupiditate ipsa, quas tempora natus itaque illo architecto aliquam hic.</p>
  </div>
</div>
